<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%= user ? user._id : '' %>/foods/new">Add New Item</a>
    <ul>
      <% if(user && user.pantry && user.pantry.length > 0) { %>
        <% user.pantry.forEach(function(food) { %>
          <li>
            <%= food.name %>
            <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">Edit</a>
            <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }) %>
      <% } else { %>
        <li>There are no items in this pantry.</li>
      <% } %>
    </ul>
  </body>
</html>
